.about {
    padding: 62px 0;
}

.about__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    min-width: 700px;
}

.about__description {
    line-height: 150%;
    min-width: 700px;
}

.about__list {
    line-height: 150%;
    min-width: 700px;
}

.about__item {

}

.about__item-title {

}

.about__item-description {

}
